[submodule "data/robots/abb_irb4600_40_255"]
	path = data/robots/abb_irb4600_40_255
	url = https://github.com/yijiangh/abb_irb4600_40_255.git
[submodule "data/robots/rfl_description"]
	path = data/robots/rfl_description
	url = https://github.com/yijiangh/rfl_description.git
