[submodule "data/robots/abb_irb4600_40_255"]
	path = data/robots/abb_irb4600_40_255
	url = https://github.com/yijiangh/abb_irb4600_40_255.git
[submodule "external/pybullet_planning"]
	path = external/pybullet_planning
	url = https://github.com/yijiangh/pybullet_planning.git